.clickable {
    cursor: pointer;
}

.normal-weight {
    font-weight: normal !important;
}

.block-center {
    margin: auto;
}

#main-image {
    max-height: 150px;
}

.screenshot {
    max-height: 500px;
    padding: 1em;
    border-radius: 0.75em;
}

body {
    position: relative;
}

section {
    padding-top: 60px;
}

section > h2 {
    text-align: center;
}

/* Fixed header styles
-------------------------------------------------- */
body {
    padding-top: 20px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    padding-bottom: 80px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;

    text-align: center;
}

.footer .container p {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
