---
layout: default
title: The ultimate studying app
---

<div class="row well">
	<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
		<img src="images/cabra-icon-trans.png" class="img-responsive">
	</div>
	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
		<div class="text-center">
			<h1 class="text-primary">Cabra Flashcards</h1>
			<h2>The ultimate studying app. For all your devices.</h2>

			<p class="lead text-primary">
				{% for tag in site.data.ads.tags %}
					{{tag}}
					{% if forloop.rindex0 != 0 %}
						•
					{% endif %}
				{% endfor %}
			</p>

			<a href="{{site.data.platforms.main_url}}" class="btn btn-primary">
				<span class="fa fa-play"></span>
				Study online now
			</a>
			<a href="#install" class="btn btn-primary">
				<span class="fa fa-download"></span>
				Install
			</a>
			<br><br>
			<a href="#features" class="btn btn-default">
				<span class="fa fa-info"></span>
				Learn more
			</a>
		</div>
	</div>
</div>


<section id="install">
	<h2>Install</h2>
	<div class="row">
		{% for platform in site.data.platforms.primary %}
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-content">
					<div class="panel-body">
						<h3 class="text-{{platform.css_class}} text-center">
							<span class="fa fa-{{platform.icon}}"></span>
							{{platform.name}}
						</h3>

						{% if platform.recommended %}
						<p class="lead text-success text-center">
							<span class="fa fa-check"></span>
							Recommended
						</p>
						{% endif %}

						<p class="lead">
							{{platform.description}}
						</p>

						<a href="{{platform.url}}"
						class="btn btn-primary btn-block
						{% if platform.recommended %}
						btn-lg
						{% endif %}
						">
						<span class="lead">
							<span class="fa fa-{{platform.action_icon}}"></span>
							Cabra for {{platform.name}}
						</span>
						<br>
						<span>
							Always free
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

<p class="lead">
	Also available for:
	{% for platform in site.data.platforms.secondary %}
	<a href="{{platform.url}}">
		{{platform.name}}
	</a>
	{% endfor %}
</p>
</section>

<hr>

<section id="features">
<h2>Everything you need, on all your devices.</h2>

<div class="row">
	{% for feature in site.data.features.primary %}
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<div class="row text-center">
				<div class="col-xs-12">
					<span class="fa-stack fa-4x text-primary">
						<span class="fa fa-circle fa-stack-2x"></span>
						<span class="fa fa-{{feature.icon}} fa-stack-1x fa-inverse fa-fw"></span>
					</span>
				</div>
				<div class="col-xs-12">
					<h2 class="text-primary lead">
						<strong>{{feature.name}}</strong>
					</h2>
					<p class="lead">{{feature.desc}}</p>
				</div>
			</div>
		</div>
	{% endfor %}
</div>

<div class="row">
	{% for feature in site.data.features.secondary %}
		<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
			<h3 class="lead {% cycle 'text-normal', 'text-primary' %}">
				<span class="fa fa-fw fa-{{feature.icon}}"></span>
				{{feature.name}}
			</h3>
		</div>
	{% endfor %}
</div>
</section>

<hr>

<section id="uses">
<h2>Hand-crafted for you.</h2>

{% for use in site.data.uses %}
	<div class="row">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<div class="text-center text-primary">
				<span class="fa-stack fa-4x">
					<span class="fa fa-circle fa-stack-2x"></span>
					<span class="fa fa-{{use.icon}} fa-stack-1x fa-inverse fa-fw"></span>
				</span>
				<h3 class="text-primary">For {{use.for}}</h3>
			</div>
		</div>
		<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
			<div class="lead normal-weight">
				{{use.blurb | markdownify}}
			</div>

			<blockquote>
				<div>
					{{use.testimonial.text | markdownify}}
				</div>
				<footer>
					{{use.testimonial.by}}, {{use.testimonial.title}}, {{use.testimonial.from}}
				</footer>
			</blockquote>
		</div>
	</div>
	<hr>
{% endfor %}
</section>
