---
layout: default
title: The ultimate studying app
---

<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
		<img src="images/cabra-icon-trans.png" class="img-responsive">
	</div>
	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
		<h1>{{site.data.ads.title}}</h1>

		<div class="lead">
			{{site.data.ads.description | markdownify }}
		</div>

		<h3 class="text-primary">{{site.data.ads.call_to_action}}</h3>
	</div>
</div>

<div class="row">
	{% for platform in site.data.platforms.primary %}
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-content">
					<div class="panel-body">
						<h3 class="text-{{platform.css_class}} text-center">
							<span class="fa fa-{{platform.icon}}"></span>
							{{platform.name}}
						</h3>

						{% if platform.recommended %}
						<p class="lead text-success text-center">
							<span class="fa fa-check"></span>
							Recommended
						</p>
						{% endif %}

						<p class="lead">
							{{platform.description}}
						</p>

						<a href="{{platform.url}}"
							class="btn btn-primary btn-block
								{% if platform.recommended %}
									btn-lg
								{% endif %}
								">
							<span class="lead">
								<span class="fa fa-{{platform.action_icon}}"></span>
								Cabra for {{platform.name}}
							</span>
							<br>
							<span>
								Always free
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>

<p class="lead">
	Also available for:
	{% for platform in site.data.platforms.secondary %}
		<a href="{{platform.url}}">
			{{platform.name}}
		</a>
	{% endfor %}
</p>
