<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                Cabra Flashcards
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if page.use_scrollspy %}
                    {% for link in site.data.pages.scrollspy %}
                        <li>
                            <a href="{{link.url}}">
                                {{link.name}}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
            {% for button in site.data.pages.buttons %}
                <a href="{{button.url}}" class="btn btn-primary navbar-btn">
                    {{button.name}}
                </a>
            {% endfor %}

            <ul class="nav navbar-nav navbar-right">
                {% for link in site.data.pages.aside %}
                    <li
                    {% if link.url == page.url %}
                    class="active"
                    {% endif %}
                    >
                        <a href="{{link.url}}">
                            {{link.name}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
